<!DOCTYPE html>
<html>
  <head>
    <% var title = "エラー | オレモエ"; %>
    <meta name="description" content="エラー萌えかな？？">
    <meta name="keywords" content="エラー,オレモエ,萌え">
    <% include include/header %>
  </head>
  <body>
    <div class="container page-err">
      <header class="align-c m-t-xl m-b-xxl txt-xxl">
        <h1>404 NOT FOUND</h1>
        <p><span class="txt-bold txt-pink">ナニ</span>をさがしているのかな？</p>
      </header>

      <section class="sec-err align-c">
        <img src="/img/404.png" alt="404" width="196" height="305" class="m-b-s">
      </section>

      <% include include/footer %>
    </div>
    <% include include/analytics %>
  </body>
</html>
