<!DOCTYPE html>
<html>
  <head>
    <% include include/header %>
  </head>
  <body>
    <div class="container page-top">
      <h1>最強萌えキャラメーカー</h1>
      <p><%= categoryName %></p>

      <ul>
      <% entries.forEach(function(item) { %>
        <li class="js-item" data-item-id="<%= item.id %>"><%= item.name %></li>
      <% }) %>
      </ul>

      <div id="js-btn-next">次へ</div>
      <div id="js-btn-end">完了</div>
    </div>
    <% include include/script %>
    <script src="js/index.js"></script>
  </body>
</html>
