<!DOCTYPE html>
<html>
  <head>
    <% include include/header %>
  </head>
  <body>
    <div class="container page-top">
      <h1><span id="js-text-cat-name"></span>を比較してね(・ω<)</h1>

      <div id="js-block-left"></div>
      vs
      <div id="js-block-right"></div>

    </div>
    <% include include/script %>
    <script id="js-json-mymoe" type="text/json"><%- JSON.stringify(mymoe) %></script>
    <script src="js/moe_competition.js"></script>
  </body>
</html>
