<!DOCTYPE html>
<html>
  <head>
    <% var title = "どっちの方がそそるんだい？ | オレモエ"; %>
    <% include include/header %>
  </head>
  <body>
    <div class="container page-top">
      <header class="align-c m-t-m m-b-l">
        <h1>
          <img src="/img/logo.png" alt="最強萌えキャラメーカー" width="324" height="129" class="m-b-s">
        </h1>
      </header>

      <section class="sec-competition">
        <div class="m-b-l area-competition">
          <div id="js-block-left" class="block-left"></div>
          <div class="or">or</div>
          <div id="js-block-right" class="block-left"></div>
        </div>
        <div class="align-c">
          <img src="/img/competition.png" alt="どっちの方がそそるんだい？" width="284" height="120">
        </div>
      </section>

      <% include include/footer %>
    </div>
    <% include include/script %>
    <script id="js-json-mymoe" type="text/json"><%- JSON.stringify(mymoe) %></script>
    <script src="js/moe_competition.js"></script>
    <% include include/analytics %>
  </body>
</html>
