<!DOCTYPE html>
<html>
  <head>
    <% include include/header %>
  </head>
  <body>
    <div class="container page-top">
      <header class="row header m-b-m">
          <h1 class="h6">最強萌えキャラメーカー</h1>
      </header>
      <div class="main-img align-c">
        <img src="/img/logo.png" alt="" width="324" height="129">
      </div>
      <h1 class="m-b-l title-type1">あなたの好きな萌え要素は</h1>
      <h1><%- names %>です</h1>



      <% include include/footer %>
    </div>
    <% include include/script %>
    <script src="js/moe_competition.js"></script>
  </body>
</html>
