<!DOCTYPE html>
<html>
  <head>
    <% include include/header %>
  </head>
  <body>
    <div class="container page-top">
      <header class="align-c m-t-m m-b-l">
        <h1>
          <a href="/"><img src="/img/logo.png" alt="最強萌えキャラメーカー" width="324" height="129" class="m-b-s"></a>
        </h1>
      </header>

      <section class="sec-competition">
        <h1 class="m-b-l">どっちの方がそそるんだい？</h1>
        <div class="area-competition">
          <div id="js-block-left" class="block-left"></div>
          <div class="or">or</div>
          <div id="js-block-right" class="block-left"></div>
        </div>
      </section>

      <% include include/footer %>
    </div>
    <% include include/script %>
    <script id="js-json-mymoe" type="text/json"><%- JSON.stringify(mymoe) %></script>
    <script src="js/moe_competition.js"></script>
  </body>
</html>
