<!DOCTYPE html>
<html>
  <head>
    <% include include/header %>
  </head>
  <body>
    <div class="container page-top">
      <h1>比較してね(・ω<)</h1>
      <h1><%= JSON.stringify(mymoe) %></h1>

      <div id="js-block-left"></div>
      vs
      <div id="js-block-right"></div>

    </div>
    <% include include/script %>
    <script src="js/moe_competition.js"></script>
  </body>
</html>
