<!DOCTYPE html>
<html>
  <head>
    <% include include/header %>
  </head>
  <body>
    <div class="container page-top">
      <header class="row header m-b-m">
          <h1 class="h6">最強萌えキャラメーカー</h1>
      </header>

      <%- JSON.stringify(result) %>

      <% include include/footer %>
    </div>
    <% include include/script %>
    <script src="js/moe_competition.js"></script>
  </body>
</html>
