<title><%- title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="apple-mobile-web-app-title" content="オレモエ" />

<% /* CSS */ %>
<link rel='stylesheet' href='/css/common.css' />
<link rel='stylesheet' href='/css/style.css' />

<% /* タッチアイコン */ %>
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/touch-icon/76x76.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/touch-icon/120x120.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/touch-icon/152x152.png">
<link rel="shortcut icon" href="/img/touch-icon/favicon.ico">

