<title>最強萌えキャラメーカー</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="">
<meta name="keywords" content="">

<% /* CSS */ %>
<link rel='stylesheet' href='/js/vendor/bootstrap/dist/css/bootstrap.min.css' />
<link rel='stylesheet' href='/css/style.css' />

<% /* タッチアイコン */ %>
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="">
<link rel="shortcut icon" href="">

<% /* OGP関連 */ %>
<meta property="og:site_name" content="">
<meta property="og:url" content="">
<meta property="og:title" content="">
<meta property="og:type" content="article">
<meta property="og:image" content="">
<meta property="og:description" content="">

<meta name="twitter:card" content="">
<meta name="twitter:site" content="">
<meta name="twitter:url" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">
