.header {
  padding: 0 10px;
  background-color: #fe5e97;
  color: #FFF;
}

.sec-selection {
  padding: 0 8px;
  font-size: 1.2rem;

  li {
    color: #FFF;
    width: 50%;
    background-color: #fe5e97;
    float: left;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    line-height: 1.8;

    &.is-selected {
      background-color: red;
    }
  }
}
